@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
margin:0;
padding:0;
font-family: 'Inter', sans-serif;
}
.meta-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100dvh;
}
.meta {
  width:30rem;
  border:.6px solid rgba(0,0,0,0.2);
  background: #fff;
  padding: .5rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.meta .img img{
  width: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.meta .title {
  font-weight: 600;
}

.meta .des {
  font-weight: 400;
  font-size: .7rem;
  color: rgba(0,0,0,.6);
}

.inputBase {
  margin-top: 3rem;
  width:30rem;
  display: flex;
}

.inputBase input{
  border: none;
  outline: none;
  background: rgba(97, 95, 95, 0.1);
  padding: .5rem;
  flex-grow: .8;
}
.inputBase button {
  flex-grow: .2;
}

/* placeholder */

.placeholder .meta{
  height:20rem;
}

.placeholder .meta .img {
  width: 100%;
  object-fit: cover;
  border-radius: 3px;
  background: rgba(0,0,0,0.04);
  height:10rem;
}

.placeholder .meta .title {
  background: rgba(0,0,0,0.04);
  content: '';
  width: 80%;
  height: 1.5rem;
}

.placeholder .meta .des {
  background: rgba(0,0,0,0.04);
  content: '';
  width: 90%;
  height: 5rem;
}
.placeholder .meta .url {
  background: rgba(0,0,0,0.04);
  content: '';
  width: 30%;
  height: 1rem;
}